language: java

addons:
  sonarcloud:
    organization: "gerardryan1989-github" # the key of the org you chose at step #3
script:
   #the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar

notifications:
  slack: gerardryan1989:kLHS9sSX8OryWYXE4YpTajfD

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GH_TOKEN # Set in the settings page of your repository, as a secure variable
  keep-history: true
  on:
    branch: master